<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="./png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/shop.css" />
    <title>Dry Slo</title>
  </head>
  <body>
    <div class="balance_field block"></div>
    <img src="../png/miner.png" class="miner" alt="miner" />
    <div class="shop block">
      <div class="bonus">
        <span class="info block">Look at 1 stone</span>
        <div class="logo block">
          <img src="../png/loupe.png" alt="bonus" />
        </div>
        <div class="button block" data-bonus="loupe"><span>500</span></div>
      </div>

      <div class="bonus">
        <span class="info">Remove half of the stones in the row</span>
        <div class="logo block">
          <span>50/50</span>
        </div>
        <div class="button block" data-bonus="half"><span>500</span></div>
      </div>
      <a href="./main.html" class="home block"></a>
    </div>
    <script src="../scripts/shop.js" type="module"></script>
  </body>
</html>
